
@{
    ViewData["Title"] = "ManagerCourtReport";
	Layout = "_LayoutAdminPage";
}
@using Bookington_FE.Models.ResponseModel;
@model CourtReportResponse
<section>
<div id="ManageCourtReport" class="tabcontent" style="display:block">
			  <h3>Manage Report</h3>
			  <table id="example" class="table table-striped" style="width:100%">
					  <thead>
						  <tr>
							  <th>ID</th>
							  <th>Court Name</th>
							  <th>Reporter Phone</th>
							  <th>Reporter Name</th>
							  <th>Content</th>
							  <th>Status</th>
							  <th>Is response</th>
							  <th>Action</th>
						  </tr>
					  </thead>
					  <tbody>
				@foreach (var item in Model.result)
                        {
                                <tr>
                                  <th>@item.Id</th>
                                  <th>@item.CourtName</th>
                                  <th>@item.ReporterPhone</th>
								  <th>@item.ReporterName</th>
								  <th>@item.Content</th>
                                  <th>
										@if(item.IsBan == true)
										{
											<p>Banned</p>
										}
										else
										{
											<p>Active</p>
										}
								  </th>
								  <th>
										@if(item.IsResponded == true)
										{
											<p>Responded</p>
										}
										else
										{
											<p>Not Response</p>
										}
								  </th>
								  <th>
                            <button class="btn btn-primary" onclick="ShowModalBanC(@item.RefCourt)"> Ban </button>
								  </th>
                                  
								  
								</tr>
							}
					  </tbody>
					  
				  </table>
			</div>
    <div class="modal fade" id="bancourt" style="margin-top:20px">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Court</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    `
                </div>


                
                <div class="modal-body" id="1" style="padding: 0 11px 0 11px">
                    <div>
                        <label class="small mb-1" for="inputUpCourtName">Name</label>
                        <input class="form-control" id="inputUpCourtName" type="text" placeholder="Enter court's name" value="">
                    </div>
                </div>
                <div class="modal-body" id="2" style="padding: 0 11px 0 11px">
                    <div>
                        <label class="small mb-1" for="inputUpCourtAddress">Address</label>
                        <input class="form-control" id="inputUpCourtAddress" type="text" placeholder="Enter court's address" value="">
                    </div>
                </div>
                <div class="modal-body" id="3" style="padding: 0 11px 0 11px">
                    <div>
                        <label class="small mb-1" for="inputUpCourtDescription">Description</label>
                        <input class="form-control" id="inputUpCourtDescription" type="text" placeholder="Enter court's description" value="">
                    </div>
                </div>
                <div class="modal-body" id="4" style="padding: 0 11px 0 11px">
                    <div>
                        <label class="small mb-1" for="inputUpCourtOpen">Open Time</label>
                        <input class="form-control" id="inputUpCourtOpen" type="text" placeholder="Enter court's open time" value="">
                    </div>
                </div>
                <div class="modal-body" id="5" style="padding: 0 11px 0 11px">
                    <div>
                        <label class="small mb-1" for="inputUpCourtClose">Close Time</label>
                        <input class="form-control" id="inputUpCourtClose" type="text" placeholder="Enter court's close time" value="">
                    </div>
                </div>
                <div class="modal-body" id="6" style="padding: 0 11px 0 11px">
                    <div>
                        <label class="form-label" for="formFileMultipleup">Court Images</label>
                        <input class="form-control" type="file" id="formFileMultipleup" multiple />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="OkUpdate" onclick="UpdateC()">OK</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="Cancel">Cancel</button>
                </div>
            </div>

        </div>
    </div>


</section>
