
@{
    ViewData["Title"] = "ManagerCourtReport";
	Layout = "_LayoutAdminPage";
}
@using Bookington_FE.Models.ResponseModel;
@model CourtReportResponse
<section>
<div id="ManageCourtReport" class="tabcontent" style="display:block">
			  <h3>Manage Report</h3>
			  <table id="example" class="table table-striped" style="width:100%">
					  <thead>
						  <tr>
							  <th>ID</th>
							  <th>Court Name</th>
							  <th>Reporter Phone</th>
							  <th>Reporter Name</th>
							  <th>Content</th>
							  <th>Status</th>
							  <th>Is response</th>
							  <th>Action</th>
						  </tr>
					  </thead>
					  <tbody>
				@foreach (var item in Model.result)
                        {
                                <tr>
                                  <th>@item.Id</th>
                                  <th>@item.CourtName</th>
                                  <th>@item.ReporterPhone</th>
								  <th>@item.ReporterName</th>
								  <th>@item.Content</th>
                                  <th>
										@if(item.IsBan == true)
										{
											<p>Banned</p>
										}
										else
										{
											<p>Active</p>
										}
								  </th>
								  <th>
										@if(item.IsResponded == true)
										{
											<p>Responded</p>
										}
										else
										{
											<p>Not Response</p>
										}
								  </th>
								  <th>
									  <button class="btn btn-primary"> Ban </button>
								  </th>
                                  
								  
								</tr>
							}
					  </tbody>
					  
				  </table>
			</div>


</section>
