@{
    ViewData["Title"] = "SubCourt";
    Layout = "_LayoutOwner";
}
@using Bookington_FE.Models.ResponseModel;
@model SubcourtResponse

<link rel="stylesheet" href=@Url.Content("~/Asset/css/OwnerDropdown.css")>


<section>
    <div id="ManageYard" class="tabcontent" style="display:block">
        <h3>Manage Sub Court</h3>
        <p>Open Time: 8:00</p>
        <p>Close Time: 22:00</p>
        <p>Address: Số 152, đường quốc lộ 13.</p>
        <div class="input-group" style="width:30%">
            <input type="search" id="searchCourtTxt" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class=" btn btn-dark" onclick="btnSearchCourtClick()">search</button>
        </div>
       
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type ID</th>
                    <th>Create at</th>
                    
                </tr>
            </thead>
            <tbody>
                @if (Model.result != null && Model.result.Count > 0)
                    @foreach (var item in Model.result)
                    {
                        @if (!item.IsDeleted)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <th>@item.Name</th>
                                <th>@item.CourtTypeId</th>
                                <th>@item.CreateAt.ToString("dd-MM-yyyy")</th>
                                

                            </tr>
                        }
                    }
            </tbody>

        </table>
        @*<nav aria-label="Page navigation example" style="background :#ffffff; margin:0; position:relative">
            <ul class="pagination">
                @if (Model.pagination.hasPrevious)
                {
                    <li class="page-item">
                        <button class="page-link" aria-label="Previous" onclick="btnPreviousClick()">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </button>
                    </li>
                }
                @if (Model.pagination.totalCount > 0)
                {
                    int totalPage = Model.pagination.totalPages;
                    int curPage = Model.pagination.currentPage;
                    int pageshow = 0;
                    int preMaxPage = 0;
                    int nextMaxPage = 0;
                    //
                    if (!Model.pagination.hasPrevious)
                    {
                        preMaxPage = 1;
                        if (totalPage - 3 > 0)
                            nextMaxPage = 3;
                        else
                            nextMaxPage = totalPage;
                    }
                    else
                    {
                        if (Model.pagination.hasNext)
                        {
                            preMaxPage = curPage - 1;
                            nextMaxPage = curPage + 1;
                        }
                        else
                        {
                            nextMaxPage = totalPage;
                            preMaxPage = totalPage - 2;
                        }
                    }
                    for (int i = preMaxPage; i <= nextMaxPage; i++)
                    {
                        if (i == curPage)
                        {
                            <li class="page-item"><button class="page-link" style="color:red" onclick="btnNumbpageClick(@i)">@i</button></li>
                        }
                        else
                        {
                            <li class="page-item"><button class="page-link" onclick="btnNumbpageClick(@i)">@i</button></li>
                        }
                        pageshow++;
                    }

                }

                @if (Model.pagination.hasNext)
                {
                    <li class="page-item">
                        <button class="page-link" aria-label="Next" onclick="btnNextClick()">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </button>
                    </li>
                }
            </ul>
        </nav>*@
        @using (Html.BeginForm("ManageYard", "Owner", FormMethod.Post))
        {
            <button class="btn btn-success" type="submit">
                Back to Court List
            </button>
        }
    </div>
</section>
